:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --succes: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F4266;
    --hero-background: #2E2F42B2;
    --white: #FFFFFF;
    --modsl-background: #FCFCFC;
  }

*,
*::before,
*::after {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--white);
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
	color: var(--text);
}
a {
	text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
li {
    list-style: none;
}
a:focus,
a:focus-visible, 
a:active,
input:focus,
input:focus-visible, 
button:active,
button:focus,
button:focus-visible, 
button:active,
textarea:active,
textarea:focus, 
textarea:focus-visible {
    outline: none;
}
h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
}
h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
strong {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
img {
    display: block;
}
.section {
    padding: 96px 0;
}
.container {
    width: 100%;
	max-width: 1158px;
    padding: 0 15px;
	margin: 0 auto;
}
.btn {
    display: block;
	font-weight: 500;
    font-size: inherit;
	line-height: 1.5;
    border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
}
.overflow-hidden {
    overflow: hidden;
}
.sm-icon {
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-icon {
    fill: var(--light);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Header */

.header {
    background-color: var(--white);
    border-bottom: 1px solid var(--accent);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container.js-menu-container.is-open {
    flex-direction: column;
    background-color: var(--white);
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 80px 40px 40px 40px;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header .container.js-menu-container.is-open .header__logo {
    display: none;
}
.header .container.js-menu-container.is-open .header__menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.header .container.js-menu-container.is-open .header__contacts {
    display: block;
    width: 100%;
    margin-top: auto;
    margin-bottom: 48px;
}
.header .container.js-menu-container.is-open .header__menu-btn {
    display: none;
}
.header .container.js-menu-container.is-open .header__social-media-wrapper {
    display: flex;
}
.header .container.js-menu-container.is-open .js-close-menu {
    display: flex;
}
.modal__btn.js-close-menu {
    display: none;
}
.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header__menu-btn {
    border: none;
    background: transparent;
    padding: 22px 15px;
    margin-right: -15px;
}
.header__logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark);
}
.header__logo::before {
    content: "Web";
    color: var(--primary-brand);
}
.header__menu {
    display: none;
    gap: 40px;
}
.header__menu-item-link {
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: var(--dark);
    display: inline-block;
}
.header__menu-item-link.active, 
.header__menu-item-link:active, 
.header__menu-item-link:focus, 
.header__menu-item-link:focus-visible {
    color: var(--pressed-state);
}
.header__contacts {
    display: none;
}
.header__contacts-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
}
.header__contacts-list a {
    font-style: normal;
}
.header__contacts-list a:hover, a:active, a:focus, a:focus-visible {
    color: var(--pressed-state);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts-email a {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--text);
}
.header__contacts-phone a {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: var(--primary-brand);
}
.header__social-media-wrapper {
    display: none;
    width: 100%;
    justify-content: space-between;
}
.header__social-media-icon {
    width: 40px;
    height: 40px;
}
.header__social-media-icon > .sm-icon:active, .sm-icon:focus, .sm-icon:focus-visible {
    background-color: var(--succes);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Main */

.header-section {
    padding: 112px 0;
    background-color: var(--dark);
    color: var(--white);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/header-section-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header-section__title {
    text-align: center;
    margin: 0 auto;
    max-width: 496px;
}
.header-section__btn {
    padding: 16px 32px;
	min-width: 169px;
	background: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	color: var(--white);
    margin: 48px auto 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-section__btn:active,
.header-section__btn:focus,
.header-section__btn:focus-visible {
    background-color: var(--pressed-state);
}
.about-section {
    background-color: var(--white);
}
.about-section__title {
    display: none;
}
.about-section__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.about-section__item {
    width: 100%;
}
.about-section__item-icon {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--light);
    border-radius: 4px;
    margin-bottom: 8px;
}
.about-section__item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 8px;
}
.about-section__item-text {
    font-weight: 500;
    line-height: 1.5;
}
.our-work-section {
    display: none;
}
.our-team-section {
    background-color: var(--light);
}
.our-team-section__title {
    text-align: center;
    margin-bottom: 72px;
}
.our-team-section__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 74px;
}
.our-team-section__card {
    background: var(--white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.our-team-section__card-info {
    padding: 32px 0;
}
.our-team-section__card-title {
    text-align: center;
    margin-bottom: 8px;
}
.our-team-section__card-subtitle {
    text-align: center;
    margin-bottom: 8px;
}
.our-team-section__card-social-media {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.our-team-section__social-media-icon {
    width: 40px;
    height: 40px;
}
.our-team-section__social-media-icon .sm-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0,0.2, 1);
}
.our-team-section__social-media-icon .sm-icon:active {
    background-color: var(--pressed-state); 
}
.our-team-section__social-media-icon .sm-icon:focus {
    background-color: var(--pressed-state); 
}
.our-team-section__social-media-icon .sm-icon:focus-visible {
    background-color: var(--pressed-state); 
}
.customers-section__title {
    font-size: 36px;
    line-height: 1.1;
    color: var(--dark);
    margin-bottom: 72px;
    text-align: center;
}
.customers-section__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
}
.customers-section__item {
    flex-basis: calc((100% - 16px) / 2);
    height: 88px;
}
.customers-section__item-link {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    color: var(--subtle-text);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-section__item-link:focus {
    color: var(--pressed-state);
    border-color: var(--pressed-state);
}
.customers-section__item-link:focus-visible {
    color: var(--pressed-state);
    border-color: var(--pressed-state);
}
.customers-section__item-link:active {
    color: var(--pressed-state);
    border-color: var(--pressed-state);
}
.customer-svg-icon {
    fill: currentColor;
}
.customers-section__item-link:active .customer-svg-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-section__item-link:focus .customer-svg-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-section__item-link:focus-visible .customer-svg-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Portfolio */
.portfolio-section {
    padding: 48px 0;
}
.portfolio-section__title {
    visibility: hidden;
    height: 0;
}
.portfolio-section__tabs {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 24px;
}
.portfolio-section__tabs-item-btn {
    border: 1px solid var(--accent);
    background: var(--light);
    color: var(--primary-brand);
    padding: 12px 24px;
    box-sizing: border-box;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section__tabs-item-btn:active {
    background-color: var(--pressed-state);
    border-color: var(--pressed-state);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);  
}
.portfolio-section__tabs-item-btn:focus {
    background-color: var(--pressed-state);
    border-color: var(--pressed-state);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);  
}
.portfolio-section__tabs-item-btn:focus-visible {
    background-color: var(--pressed-state);
    border-color: var(--pressed-state);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);  
}
.portfolio-section__cards {
    display: flex;
    gap: 48px;
    margin-top: 48px;
    flex-wrap: wrap;
}
.portfolio-section__card {
    width: 100%;
}
.portfolio-section__card-link:focus .portfolio-section__card-overlay {
    transform: translateY(0%);
}
.portfolio-section__card-link:active .portfolio-section__card-overlay {
    transform: translateY(0%);
}
.portfolio-section__card-link:focus-visible .portfolio-section__card-overlay {
    transform: translateY(0%);
}
.portfolio-section__card-link {
    display: block;
    color: var(--text);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-section__card-info {
    border: 1px solid var(--accent);
    border-top: none;
    padding: 32px 16px;
}
.portfolio-section__card-wrapper {
    position: relative;
    overflow: hidden;
}
.portfolio-section__card img {
    width: 100%;
    height: auto;
}
.portfolio-section__card h2 {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
.portfolio-section__card p {
    font-size: inherit;
    line-height: 1.5;
}
.portfolio-section__card-overlay {
    padding: 40px 32px;
    background-color: var(--primary-brand);
    color: var(--light);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Footer */

.footer {
    padding: 96px 0;
    background-color: var(--dark);
    color: var(--light);
}
.footer .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}
.footer__info {
    text-align: center;
}
.footer__logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light);
    display: inline-block;
    margin-bottom: 16px;
}
.footer__logo::before {
    content: "Web";
    color: var(--primary-brand);
}
.footer__description {
    max-width: 264px;
    line-height: 1.5;
}
.footer__social-media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--white);
    margin-bottom: 16px;
    text-align: center;
}

.footer__social-media-wrapper {
    display: flex;
    gap: 16px;
}
.footer__social-media-icon {
    width: 40px;
    height: 40px;
}


.footer__social-media-icon > .sm-icon:hover, .sm-icon:active, .sm-icon:focus, .sm-icon:focus-visible {
    background-color: var(--succes);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__subscribtion {
    width: 100%;
    text-align: center;
}
.footer__subscribtion-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--white);
    margin-bottom: 16px;
}
.footer__subscribtion-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer__subscribtion-form-input {
    width: 100%;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    border: 1px solid var(--white);
    border-radius: 4px;
    color: var(--white);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__subscribtion-form-input::placeholder {
    color: var(--white);
}
.footer__subscribtion-form-input::placeholder {
    color: var(--white);
}
.footer__subscribtion-form-btn {
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
    min-width: 165px;
    background-color: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--white);
    width: 165px;
    margin: auto;
}
.footer__subscribtion-form-btn:active {
    background-color: var(--pressed-state);
}
.footer__subscribtion-form-btn:focus {
    background-color: var(--pressed-state);
}
.footer__subscribtion-form-btn:focus-visible {
    background-color: var(--pressed-state);
}

/* Modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: var(--modal-overlay);
    backdrop-filter: blur(10px);
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal {
    width: 408px;
    background-color:  var(--modsl-background);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--dark);
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal__btn:hover, .modal__btn:active, .modal__btn:focus, .modal__btn:focus-visible {
    background-color: var(--pressed-state);
    color: var(--white);
    border-color: transparent;
    border: none;
}
.modal__icon {
    fill: currentColor;
}
.modal__title {
    display: block;
    margin-bottom: 16px;
    text-align: center;
}
.modal__contact-form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    color: var(--subtle-text);
    margin-bottom: 4px;
    position: relative;
}
.modal__contact-form-label[for=privacy-policy] {
    line-height: 1.33;
    margin-bottom: 0;
    padding-left: 24px;
}
.modal__contact-form-field {
    margin-bottom: 8px;
    position: relative;
}
.modal__contact-form-input {
    width: 100%;
    padding: 12px 16px 12px 38px;
    font-size: 12px;
    line-height: 1.17;
    border: 1px solid var(--modal-overlay);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__contact-form-checkbox {
    position: absolute;
    visibility: hidden;
}
.modal__contact-form-checkbox:checked + span > .modal__contact-form-icon.checkbox {
    border: 1px solid var(--pressed-state);
    background-color: var(--pressed-state);
    fill: var(--light);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__contact-form-input:active, .modal__contact-form-input:focus, .modal__contact-form-input:focus-visible {
    border-color: var(--pressed-state);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__contact-form-input:active, .modal__contact-form-input:focus, .modal__contact-form-input:focus-visible + .modal__contact-form-icon {
    fill: var(--pressed-state);
    transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__contact-form-link {
    text-decoration: underline;
    color: var(--primary-brand);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__contact-form-link:hover, .modal__contact-form-link:active, .modal__contact-form-link:focus, .modal__contact-form-link:focus-visible {
    color: var(--pressed-state);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal__contact-form-icon {
    position: absolute;
    left: 16px;
    top: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
.modal__contact-form-icon.checkbox {
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    padding: 4px 3px;
    border: 1px solid var(--modal-overlay);
    fill: none;
    z-index: 10;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__contact-form-field:first-of-type .modal__contact-form-icon {
    top: 11px;
}
.modal__contact-form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    padding: 8px 16px;
    border: 1px solid var(--modal-overlay);
    border-radius: 4px;
    resize: none;
    overflow: auto;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__contact-form-textarea:active, .modal__contact-form-textarea:focus, .modal__contact-form-textarea:focus-visible {
    border-color: var(--pressed-state);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__contact-form-field:last-of-type {
    margin-bottom: 16px;
}
.modal__contact-form-btn {
    padding: 16px 32px;
    min-width: 169px;
    background: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--white);
    margin: 24px auto 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__contact-form-btn:hover {
    background-color: var(--pressed-state);
}
.modal__contact-form-btn:focus {
    background-color: var(--pressed-state);
}
.modal__contact-form-btn:active {
    background-color: var(--pressed-state);
}
.modal__contact-form-btn:focus-visible {
    background-color: var(--pressed-state);
}

@media screen and (min-width: 768px) {
    /* Header */
    h1 {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
    }
    .header__menu-btn {
        display: none;
    }
    .header__menu {
        display: flex;
        gap: 40px;
        margin: 0 auto;
    }
    .header__menu-item-link {
        position: relative;
        font-size: inherit;
        font-weight: 500;
        line-height: 1.5;
        color: var(--dark);
        padding: 24px 0;
        display: inline-block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header__menu-item-link::after {
        content: "";
        height: 4px;
        width: 100%;
        position: absolute;
        bottom: -1px;
        left: 0;
        border-radius: 2px;
        background-color: var(--pressed-state);
        visibility: hidden;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header__menu-item-link.active {
        color: var(--pressed-state);
    }
    .header__menu-item-link.active::after {
        visibility: visible;
    }
    .header__contacts {
        display: block;
      }
    .header__contacts-list {
        flex-direction: column;
        gap: 12px;
    }
    .header__contacts-list a {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header__contacts-phone a {
        font-size: inherit;
        font-weight: inherit;
        color: var(--text);
    }
    .header__contacts-email a {
        font-size: inherit;
        font-weight: inherit;
        color: var(--text);
    }
    .header__contacts-list a:active {
        color: var(--pressed-state);
    }
    .header__contacts-list a:focus {
        color: var(--pressed-state);
    }
    .header__contacts-list a:focus-visible {
        color: var(--pressed-state);
    }
    .about-section__wrapper {
        gap: 72px 24px;
    }
    .about-section__item {
        width: calc((100% - 24px) /2);
    }
    .our-team-section__wrapper {
        gap: 64px 16px;
        max-width: 552px;
        margin: auto;
    }
    .customers-section__wrapper {
        gap: 72px 24px;
        max-width: 552px;
        margin: auto;
    }
    .customers-section__item {
        flex-basis: calc((100% - 48px) / 3);
        height: 88px;
    }
    .portfolio-section {
        padding: 64px 0;
    }
    .portfolio-section__tabs {
        display: flex;
        justify-content: center;
        gap: 24px;
    }
    .portfolio-section__cards {
        gap: 72px 24px;
        margin-top: 64px;
    }
    .portfolio-section__card {
        flex-basis: calc((100% - 24px) / 2);
    }
    .footer .container {
        flex-direction: row;
        align-items: baseline;
        gap: 72px 24px;
        max-width: 582px;
    }
    .footer__info {
        text-align: left;
    }
    .footer__social-media-title {
        text-align: left;
    }
    .footer__subscribtion {
        text-align: left;
    }
    .footer__subscribtion-form {
        flex-direction: row;
    }
    .footer__subscribtion-form-input {
        width: 264px;
    }
    .footer__subscribtion-form-btn {
        margin: 0;
    }
}
@media screen and (min-width: 1158px) {
    h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    strong {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    }
    img {
        display: block;
    }
    .section {
        padding: 120px 0;
    }
    .container {
        width: 100%;
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
    }
    
    /* Header */
    
    .header__navigation {
        justify-content: start;
        width: auto;
    }
    .header__logo {
        margin-right: 76px;
    }
    .header__menu {
        margin: 0;
    }
    .header__menu-item-link:hover {
        color: var(--pressed-state);
    }
    .header__contacts-list {
        flex-direction: row;
        gap: 40px;
    }
    .header__contacts-list a {
        font-size: inherit;
        color: var(--text);
        font-style: normal;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header__contacts-list a:hover {
        color: var(--pressed-state);
    }
    /* Main */
    .section {
        padding: 120px 0;
    }
    .header-section {
        padding: 188px 0;
    }
    .header-section__btn:hover {
        background-color: var(--pressed-state);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    .about-section {
        background-color: var(--white);
    }
    .about-section__item {
        flex-basis: calc((100% - 72px) / 4);
    }
    .about-section__item-icon {
        display: flex;
    }
    .about-section__item-title {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    .about-section__item-text {
        font-weight: 400;
    }
    .our-work-section {
        display: flex;
        padding-top: 0;
        background-color: var(--white);
    }
    .our-work-section__title {
        text-align: center;
        margin-bottom: 72px;
    }
    .our-work-section__wrapper {
        display: flex;
        gap: 24px;
    }
    .our-team-section__wrapper {
        max-width: 100%;
        gap: 24px;
    }
    .our-team-section__social-media-icon .sm-icon:hover {
        background-color: var(--pressed-state); 
    }
    .customers-section__wrapper {
        gap: 24px;
        max-width: 100%;
    }
    .customers-section__item {
        flex-basis: calc((100% - 120px) / 6);
        height: 88px;
    }
    .customers-section__item-link:hover {
        color: var(--pressed-state);
        border-color: var(--pressed-state);
    }
    .customers-section__item-link:hover .customer-svg-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    /* Portfolio */
    .portfolio-section {
        padding: 96px 0 120px;
    }
    .portfolio-section__title {
        visibility: hidden;
        height: 0;
    }
    .portfolio-section__tabs-item-btn:hover {
        background-color: var(--pressed-state);
        border-color: var(--pressed-state);
        color: var(--white);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
    }
    .portfolio-section__cards {
        gap: 48px 24px;
        margin-top: 72px;
    }
    .portfolio-section__card {
        flex-basis: calc((100% - 48px) / 3);
    }
    .portfolio-section__card-link {
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .portfolio-section__card-link:hover .portfolio-section__card-overlay {
        transform: translateY(0%);
    }
    .portfolio-section__card-link:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    .portfolio-section__card-link:active {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    .portfolio-section__card-link:focus {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    .portfolio-section__card-link:focus-visible {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    
    /* Footer */
    
    .footer {
        padding: 100px 0;
    }
    .footer .container {
        max-width: 1158px;
    }
    .footer__description {      
        margin-right: 120px;
    }   
    .footer__social-media-icon .sm-icon:hover {
        background-color: var(--succes);
    }  
    .footer__subscribtion {
        max-width: 453px;
        margin-left: auto;
    }
    .footer__subscribtion-form-btn:hover {
        background-color: var(--pressed-state);
    }   
}